<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>Image File</key>
			<string>github.png</string>
			<key>Long Running</key>
			<true/>
			<key>Script Interpreter</key>
			<string>/usr/local/bin/php</string>
			<key>Shell Script File</key>
			<string>gistAdd.php</string>
			<key>Title</key>
			<dict>
				<key>en</key>
				<string>Gists</string>
			</dict>
		</dict>
	</array>
	<key>Extension Description</key>
	<dict>
		<key>en</key>
		<string>Create gist from highlighted text.</string>
	</dict>
	<key>Extension Identifier</key>
	<string>com.brilliancetech.extension.gists</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>Gists</string>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Option Identifier</key>
			<string>username</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Username</string>
			</dict>
			<key>Option Type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>Option Identifier</key>
			<string>accesstoken</string>
			<key>Option Label</key>
			<dict>
				<key>en</key>
				<string>Personal Access Token</string>
			</dict>
			<key>Option Type</key>
			<string>string</string>
		</dict>
	</array>
	<key>Required Software Version</key>
	<integer>693</integer>
</dict>
</plist>
